.verticalCard{
	display: flex;
	flex-direction: row;
	padding: 40px 0;
	justify-content: center;
}

.verticalCard__img > img{
	max-width: 500px;
	object-fit: contain;
}

.verticalCard__info{
	padding: 20px;
	max-width: 500px;
}

.verticalCard__infoHead{
	padding-bottom: 20px;
	font-size: 26px;
	font-weight: 500;
}
.verticalCard__infoPara{
	/* line-height: 1.5; */
	font-size: 18px;
}